<!DOCTYPE html>
<html>
<head>
    <title>Add Task</title>
</head>
<body>
    <h1>Add Task</h1>

    <form method="POST">
        Title:<br>
        <input type="text" name="title" required><br><br>

        Deadline:<br>
        <input type="date" name="deadline"><br><br>

        Priority:<br>
        <select name="priority">
            <option>Low</option>
            <option>Medium</option>
            <option>High</option>
        </select><br><br>

        <button type="submit">Add Task</button>
    </form>

    <br>
    <a href="/">Back</a>
</body>
</html>